* {
    /*去除默认样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //取消点击的背影颜色
-webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    /*长按时不触发系统菜单*/
    -webkit-touch-callout: none;
    /*用户不能选择元素间的任何内容*/
    -webkit-user-select: none;
    /*取消轮廓*/
    outline: 0 none;
    /*指定盒子模型*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* 滑动不阻塞 */
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
body,ul,ol,li,h1,h2,h3,h4,h5,h6,p,dl,dd,dt,form,fieldset,legend,input,textarea,select,button,img,div,span,hr,blockquote {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    width:100%;
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family:"微软雅黑";
}
input,
textarea {
    -webkit-user-select: auto;
}
ul,li {
    list-style: none;
}
a{
    text-decoration: none;
}
/*主体样式*/
#main-mes{
    width:100%;
    position: relative;
    z-index: 4;
}
#container{
    width:1200px;
    margin:0 auto;
}
/*导航样式*/
.navigation{
    width:100%;
    height:120px;
}
.navigation>ul{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
}
.navigation>ul>li{
    height:100%;
}
.navigation>ul>li:last-child{
    margin-right:0;
}
.navigation>ul>li>img{
    display: block;
    margin-top: 10px;
}
.navigation>ul>li>a{
    display: inline-block;
    width:100%;
    height:100%;
    color:#333;
    text-align: center;
}
.navigation>ul>li>a:hover{
    color:#fff;
    background: #000;
}
.navigation>ul>li>a>span{
    display: block;
}
.navigation>ul>li>a>span.chinese{
    margin-top: 42px;
    font-size: 20px;
}
.navigation>ul>li>a>span.english{
    font-size: 14px;
    margin-top:2px;
}
.navigation>ul>li>a.active{
    color:#fff;
    background: #000;
}
.banner,#company-p,#maintenance,#vehicle-i,#emergency-a,#contact{
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.mobile-navigation{
    position: relative;
    width:100%;
    height:50px;
    background:rgba(51,51,51,.2);
    padding-left: 10px;
    display: none;
}
.mobile-navigation>img{
    max-width:35px;
    margin-top: 5px;
    float: left;
}
.mobile-navigation>span{
    color:#333;
    font-size: 20px;
    line-height: 50px;
    float: left;
    margin-left: 10px;
}
.navigation-menu{
    position: relative;
    width:12%;
    height:100%;
    float: right;
    background: url("../img/mobile-web-17.png");
    background-size: 20px 17px;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 99;
}
ul.navigation-menu-mes{
    position: absolute;
    top:0;
    right:0;
    width:150px;
    background: #333;
    padding:0 10px 20px;
    display: none;
    z-index: 99;
}
ul.navigation-menu-mes>li{
    width:100%;
    height:50px;
    border-bottom: 2px solid #404040;
    text-align: center;
    line-height: 50px;
    font-size: 1.1rem;
}
ul.navigation-menu-mes>li>a{
    color:#fff;
}
.mask{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0);
    display: none;
    z-index: 1;
}
/*banner样式*/
.banner{
    position: relative;
    background-image: url("../img/bj.jpg");
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
}
.swiper-container{
    width:1200px;
    height:640px;
    margin:0 auto!important;
    *margin:0 auto;
    overflow: hidden;
}
.lb1,.lb2,.lb3{
     width:100%;
     height:100%;
     background-size: 100%;
     -o-background-size: 100%;
     -moz-background-size: 100%;
     -webkit-background-size: 100%;
     background-position: center center;
     background-repeat: no-repeat;
    line-height:0;
 }
.lb1{
    background-image: url("../img/1.jpg");
}
.lb2{
    background-image: url("../img/2.jpg");
}
.lb3{
    background-image: url("../img/3.jpg");
}
.banner-profile,.company-p-mes,.maintenance-mes,.vehicle-i-mes,.emergency-a-mes,.contact-mes{
    width:1200px;
    height:100%;
    margin:0 auto;
}
/*公司介绍样式*/
#company-p{
    background-image:url(../img/kbs-06.jpg);

 }
.top-mes{
    width:100%;
    padding-top: 74px;
}
.line-word{
    width:100%;
    text-align: center;
    font-size: 28px;
    color:#555;
    margin-bottom:36px;
}
.mobile-line-word{
    width:100%;
    text-align: center;
    font-size: 18px;
    color:#555;
    margin-bottom:10px;
    display:none;
}
.write{
    color:#fff;
}
.mobile-line-word>span{
    display: block;
}
.mobile-line-word>span:nth-child(2){
    font-size: 14px;
}
.line-word:before,.line-word:after{
    content: '';
    display: inline-block;
    width:386px;
    height:1px;
    background: #cecece;
    margin-top: 20px;
}
.line-word:before{
    float: left;
    margin-left: 10px;
}
.line-word:after{
    float: right;
    margin-right: 10px;
}
.company-mes-img{
    display: block;
    width:100%;
    height:36px;
    margin-top: 10px;
}
.company-bot-mes{
    width:100%;
    position: relative;
}
.company-bot-mes:after{
    content: '';
    display: block;
    clear: both;
}
.click-link{
    position: absolute;
    display: block;
    bottom:150px;
    left:400px;
    width:260px;
    height:60px;
    border-radius: 30px;
    background: #f86c21;
    color:#fff;
    cursor: pointer;
    clear: both;
}
.vr-btn{
    text-align: center;
}
.vr-btn>span.vr{
    font-size: 30px;
    line-height: 60px;
}
.vr-go{
    width:52px;
    height:52px;
    border-radius: 50%;
    background: #fff;
    float: right;
    margin-top:4px;
    margin-right: 4px;
    font-size: 24px;
    color:#f86c21;
    text-align: center;
    line-height: 52px;
}
.company-bot-mes>img{
    display: block;
    margin-top: 56px;
    margin-left: 50px;
    margin-bottom: 155px;
    float: left;
}
.company-bot-mes>.company-word{
    width:804px;
    float: right;
    margin-top: 120px;
}
.company-bot-mes>.company-word>span{
    display: block;
    line-height: 36px;
    font-size: 20px;
    color:#666;
}
/*维修保养样式*/
#maintenance{
    background-image:url(../img/kbs-07.jpg);
}
.maintenance-mes>.top-mes>.line-word,.emergency-a-mes>.top-mes>.line-word,.contact-mes>.top-mes>.line-word{
    color:#fff;
}
.maintenance-bot-mes{
    position: relative;
    width:100%;
    height:465px;
    margin-top: 36px;
}
.maintenance-bot-main-mes{
    width:1134px;
    height:100%;
    margin:0 auto;
    overflow: hidden;
}
.maintenance-bot-main-mes>ul{
    width:1900px;
    height:248px;
}
.maintenance-bot-main-mes>ul>li{
    float: left;
    color:#fff;
    margin-right: 10px;
}
.maintenance-bot-main-mes>ul>li:last-child{
    margin-right:0;
}
.maintenance-word-mes{
    width:371px;
    height:120px;
    margin-top: 40px;
    border-left: 1px solid #545454;
    padding-left: 12px;
}
.maintenance-word-mes>span{
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
}
.maintenance-word-mes>span.maintenance-title{
    font-size: 23px;
}
.maintenance-word-mes>span:nth-child(2){
    margin-top: 10px;
}
.left-btn,.right-btn{
    position: absolute;
    top:112px;
    cursor: pointer;
}
.left-btn{
    left:0;
}
.right-btn{
    right:0;
}
.mobile-maintenance-bot-main-mes,.min-maintenance-bot-main-mes{
    display: none;
}
/*车险服务样式*/
#vehicle-i{
    background-image:url(../img/kbs-08.jpg);
}
.maintenance-mes>.top-mes>.line-word:after,.maintenance-mes>.top-mes>.line-word:before,.vehicle-i-mes>.top-mes>.line-word:after,.vehicle-i-mes>.top-mes>.line-word:before{
    width:360px;
}
.vehicle-bot-mes{
    width:100%;
    height:488px;
    padding:40px 0 0 57px;
}
.vehicle-left-mes{
    width:524px;
    height:100%;
    float: left;
}
.vehicle-left-mes>span,.vehicle-right-mes>span{
    font-size: 40px;
    color:#555;
    display: inline-block;
    margin-top: -7px;
}
.vehicle-left-mes>span>i,.vehicle-right-mes>span>i{
    display: inline-block;
    font-style: normal;
    font-size: 20px;
    margin-top: 11px;
    float: left;
}
.vehicle-left-mes>i,.vehicle-right-mes>i{
    height:2px;
    background: #555;
    float: right;
    margin-top: 18px;
}
.vehicle-left-mes>i{
    width:322px;
}
.vehicle-right-mes>i{
    width:436px;
}
.vehicle-right-mes{
    width:600px;
    height:100%;
    float: right;
}
.vehicle-leftB-mes{
    width:100%;
    height:404px;
    position: relative;
    font-size: 0;
}
.vehicle-leftB-mes>.vehicle-one,.vehicle-leftB-mes>.vehicle-two,.vehicle-leftB-mes>.vehicle-three{
    position: absolute;
    left:0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}
.vehicle-leftB-mes>.vehicle-one{
    width:183px;
    height:209px;
    top:30px;
    background-image: url("../img/kbs-20.png");
}
.vehicle-leftB-mes>.vehicle-two{
    width:208px;
    height:238px;
    left:200px;
    top:10px;
    background-image: url("../img/kbs-19.png");
}
.vehicle-leftB-mes>.vehicle-three{
    width:183px;
    height:209px;
    left:100px;
    top:180px;
    background-image: url("../img/kbs-20.png");
}
.vehicle-leftB-mes>.vehicle-one>span,.vehicle-leftB-mes>.vehicle-three>span,.vehicle-leftB-mes>.vehicle-two>span{
    color:#f86c21;
    font-size: 40px;
    line-height: 209px;
}
.vehicle-leftB-mes>.vehicle-two>span{
    line-height: 238px;
}
.vehicle-rightB-mes{
    margin-top: 10px;
}
.vehicle-rightB-mes>span:nth-child(1){
    font-size: 62px;
    color:#f86c21;
    display: block;
}
.vehicle-rightB-mes>span:nth-child(2){
    display: block;
    margin-top: 60px;
    font-size: 20px;
    color:#666;
    line-height: 36px;
}
/*道路救援样式*/
#emergency-a{
    background-image:url(../img/kbs-09.jpg);
}
.emergency-a-mes>.top-mes>.line-word:before,.line-word:after,#vehicles-m>.top-mes>.line-word:after,#vehicles-m>.top-mes>.line-word:before{
    width:320px;
}
.emergency-a-bot-mes{
    width:100%;
    padding: 34px 8px 18px;
    text-align: left;
}
.emergency-a-bot-mes>span{
    display: inline-block;
    height:90px;
    color:#fff;
    font-size: 20px;
    line-height: 36px;
}
.emergency-a-bot-mes>i{
    display:block;
    margin-top: -8px;
    font-size: 16px;
    font-style: normal;
    color:#f86c21;
}
.emergency-a-bot-mes>ul{
    width:100%;
    padding:0 70px;
}
.emergency-a-bot-mes>ul:after,.vehicles-bot-mes>ul.range-img:after{
    display: block;
    content: '';
    clear:both;
}
.emergency-a-bot-mes>ul>li{
    float: left;
    margin-right:84px;
}
.emergency-a-bot-mes>ul>li:last-child{
    margin-right:0;
}
.emergency-a-bot-mes>ul>li>img{
    display: block;
    margin-top: 36px;
}
.emergency-a-bot-mes>ul>li>span{
    display: block;
    margin-top: 14px;
    color:#f86c21;
    font-size: 26px;
}
.emergency-a-btn{
    position: relative;
    width:100%;
    height:156px;
    padding-top: 36px;
    text-align: center;
}
.emergency-a-btn>div{
    position: absolute;
    left:50%;
    top:38px;
    margin-left: -250px;
    line-height:30px;
    font-size: 0;
}
.mobile-show{
    display: none;
}
.emergency-a-btn>div>span{
    color:#fff;
    font-size: 23px;
    display: block;
}
.emergency-a-btn>div>.mobile-img{
    width:230px;
    height:50px;
    margin:0 auto;
    background-image: url("../img/kbs网站-29.svg");
    background-repeat: no-repeat;
    background-position: center;
}
/*车辆改装样式*/
#vehicles-m{
    width:1200px;
    margin:0 auto;
}
.vehicles-bot-mes{
    width:100%;
    /*padding-top: 30px;*/
    /*padding-bottom: 30px;*/
    font-size: 0;
}
.vehicles-bot-mes>span{
    font-size: 20px;
    color:#666;
    display:block;
    text-align: left;
    line-height: 36px;
}
.vehicles-bot-mes>span.vehicle-title{
    color:#f86c21;
    font-size: 30px;
    margin-top: 65px;
    padding-bottom: 36px;
}
ul.range-img{
    width:100%;
    margin-top: 40px;
    padding-bottom: 30px;
}
ul.range-img:after{
    content: '';
    display: block;
    clear: both;
}
ul.range-img>li{
    float:left;
    margin-right:9px;
    font-size: 0;
}
ul.range-img>li>img{
    width:100%;
}
ul.range-img>li:last-child{
    margin-right:0;
}
ul.range-img>li>span{
    position: relative;
    display: block;
    width:100%;
    height:36px;
    background:rgba(0,0,0,.6);
    font-size: 18px;
    line-height: 36px;
    padding-left: 26px;
    color:#fff;
    margin-top: -36px;
    z-index: 99;
}
/*联系我们样式*/
#contact{
    background-image:url(../img/kbs-10.jpg);
}
.contact-mes>.top-mes>.line-word:after,.contact-mes>.top-mes>.line-word:before{
    width:420px;
}
.contact-bot-mes{
    width:100%;
    height:488px;
    padding-top: 40px;
}
.contact-bot-mes>.contact-map,.contact-bot-mes>.contact-other{
    width:50%;
    height:100%;
}
.contact-bot-mes>.contact-other{
    padding-top: 30px;
    padding-left:30px;
    font-size: 18px;
}
.contact-other>span{
    display: block;
    color:#fff;
}
.contact-other>span.kbs-center{
    font-size: 28px;
}
.contact-other>span.kbs-english{
    font-size: 16px;
    color:#5b5b5b;
    padding-bottom: 15px;
}
.contact-other>div{
    color:#fff;
}
.contact-other>div.kbs-address{
    padding-bottom: 10px;
}
.contact-other>div>span{
    display: block;
    padding-left: 90px;
    margin-top: -25px;
}
.contact-other>.er-code{
    width:100%;
    height:196px;
    background: rgba(255,255,255,0.2);
    margin-top: 23px;
}
.er-code>img{
    width:170px;
    margin-top: 13px;
    margin-left: 13px;
}
.er-code-mes{
    width:354px;
    height:196px;
    float: right;
}
.er-code-mes>span{
    display: block;
    font-size: 18px;
}
.er-code-mes>span:nth-child(1){
    margin-top: 36px;
}
.er-code-mes>span:nth-child(3){
    margin-top: 10px;
}
.er-code-mes>span:nth-child(3),.er-code-mes>span:nth-child(4){
    color:#f86c21;
    font-size: 28px;
}
.kbs-bottom{
    width:100%;
    height:207px;
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}
.kbs-bottom>span{
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color:#c6c6c6;
}
.kbs-bottom>.return-img{
    width:63px;
    height:63px;
    margin:0 auto;
    cursor: pointer;
    margin-top: 26px;
    background: url("../img/kbs-30.png");
}
.kbs-bottom>span.return-mes{
    color:#333;
    margin-top: 15px;
}
/*响应手机端*/
@media screen and (max-width:750px) {
    #container,.swiper-container{
        width:100%;
    }
    .swiper-container{
        height:20.5rem;
    }
    .mobile-navigation>img{
        margin-left:3rem;
    }
    .mobile-navigation>span{
        float: none;
    }
    .navigation-menu{
        margin-right:2rem;
    }
    #container,.banner-profile,.company-p-mes,.maintenance-mes,.vehicle-i-mes,.emergency-a-mes,.contact-mes,#vehicles-m{
        width:100%;
        overflow: hidden;
    }
    .maintenance-mes>.top-mes>.line-word:after,.maintenance-mes>.top-mes>.line-word:before,.vehicle-i-mes>.top-mes>.line-word:after,.vehicle-i-mes>.top-mes>.line-word:before,.contact-mes>.top-mes>.line-word:after,.contact-mes>.top-mes>.line-word:before,.emergency-a-mes>.top-mes>.line-word:before,.line-word:after,#vehicles-m>.top-mes>.line-word:after,#vehicles-m>.top-mes>.line-word:before,.line-word:before,.line-word:after{
        display: none;
    }
    .contact-bot-mes>.contact-map,.contact-bot-mes>.contact-other{
        width:50%;
        height:85%;
    }
    .contact-bot-mes>.contact-other{
        padding:0;
        padding-left:1rem;
    }
    .contact-other>.er-code{
        height:6.4rem;
        margin-top: 0.6rem;
    }
    .contact-bot-mes{
        height:19rem;
    }
    .contact-bot-mes:after{
        content: '';
        display: block;
        clear: both;
    }
    .er-code-mes{
        width:auto;
        height:100%;
        float: left;
        margin-left:0.5rem;
    }
    .er-code-mes>span{
        display: block;
        font-size: 14px;
    }
    .er-code-mes>span:nth-child(1){
        margin-top:0.4rem;
    }
    .er-code-mes>span:nth-child(3){
        margin-top: 5px;
    }
    .er-code-mes>span:nth-child(3),.er-code-mes>span:nth-child(4){
        color:#f86c21;
        font-size:0.9rem;
    }
    ul.range-img{
        display: block;
        margin-top:0.6rem;
    }
    ul.range-img>li{
        float:none;
        width:94%;
        margin:0 auto 10px!important;
    }
    ul.range-img>li>img{
        height:22rem;
    }
    .maintenance-bot-main-mes{
        display:none;
    }
    .mobile-maintenance-bot-main-mes{
        display:block;
    }
    .mobile-maintenance-word-mes{
        float:left;
        width:42%;
        padding:2rem 0.5rem 0 1.4rem;
    }
    .left-btn,.right-btn,.min-maintenance-bot-main-mes{
        display: none;
    }
    .swiper-pagination-bullet{
        background: #fff!important;
    }
    .mobile-maintenance-word-mes>span{
        display: block;
        font-size: 0.9rem;
        line-height: 1.8rem;
        color:#fff;
    }
    .mobile-maintenance-word-mes>span:first-child{
        font-size: 1.1rem;
    }
    img.mobile-img{
        float:left;
        width:50%;
        margin-left:1.8rem;
    }
    .mobile-line-word{
        font-size: 1rem;
    }
    .mobile-line-word>span:nth-child(2){
        font-size: 0.7rem;
    }
    .company-bot-mes,.vehicle-bot-mes,.vehicles-bot-mes,.emergency-a-bot-mes,.contact-bot-mes{
        padding:0 8px;
    }
    .emergency-a-bot-mes>ul{
        display: block;
        padding:0;
    }
    .emergency-a-bot-mes>ul:after,.vehicle-bot-mes:after,.vehicle-leftB-mes:after{
        content: '';
        display: block;
        clear: both;
    }
    .emergency-a-bot-mes>ul>li{
        float: left;
        width:16.6667%;
        text-align: center;
        margin-right:0;
    }
    .emergency-a-bot-mes>span,.vehicles-bot-mes>span{
        text-align: justify;
        height:auto;
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
    .emergency-a-bot-mes>i{
        margin-top: 0;
        font-size: 0.8rem;
    }
    .emergency-a-bot-mes>ul>li>img{
        display: inline;
        width:3.4rem;
        margin-top:1rem;
    }
    .emergency-a-bot-mes>ul>li>span{
        font-size: 1rem;
        margin-top:1px;
    }
    .vehicles-bot-mes{
        padding-bottom: 0;
    }
    .emergency-a-btn{
        height:4.4rem;
        padding-top:0.4rem;
    }
    .emergency-a-btn>img{
        width:300px;
    }
    .emergency-a-btn>div>.mobile-none{
        display: none;
    }
    .emergency-a-btn>span.mobile-show{
        display:block;
        font-size: 16px;
        color:#fff;
        margin-top: -35px;
    }
    .vehicle-left-mes>span, .vehicle-right-mes>span{
        font-size: 1.2rem;
    }
    .vehicles-bot-mes>ul.range-img>li>img{
        width:100%;
    }
    .maintenance-bot-main-mes>ul>li>img{
        width:100%;
    }
    .vehicle-bot-mes{
        width:100%;
        height:auto;
    }
    .vehicle-left-mes{
        width:45%;
        height:auto;
    }
    .vehicle-right-mes{
        width:55%;
        height:auto;
    }
    .vehicle-leftB-mes{
        height:14.1rem;
    }
    .vehicle-left-mes>i,.vehicle-right-mes>i{
        display: none;
    }
    .maintenance-bot-mes{
        margin-top:1rem;
        font-size: 0;
        height:auto;
        padding-bottom:2rem;
    }
    .maintenance-bot-main-mes>ul{
        height:auto;
    }
    .maintenance-bot-main-mes>ul:after{
        content: '';
        display: block;
        clear: both;
    }
    .vehicle-leftB-mes>.vehicle-one,.vehicle-leftB-mes>.vehicle-three{
        width:35%;
        height:40%;
    }
    .vehicle-leftB-mes>.vehicle-one>img,.vehicle-leftB-mes>.vehicle-three>img{
        width:100%;
    }
    .vehicle-leftB-mes>.vehicle-two{
        width:40%;
        height:45%;
    }
    .vehicle-leftB-mes>.vehicle-two>img{
        width:100%;
    }
    .vehicle-leftB-mes>.vehicle-one>span, .vehicle-leftB-mes>.vehicle-three>span, .vehicle-leftB-mes>.vehicle-two>span{
        font-size: 1.2rem;
        line-height: 95px;
    }
    .vehicle-leftB-mes>.vehicle-two>span{
        font-size: 1.3rem;
        line-height: 110px;
    }
    .vehicle-rightB-mes{
        margin-top: 0;
    }
    .vehicle-rightB-mes>span:nth-child(1){
        font-size: 1.4rem;
    }
    .vehicle-rightB-mes>span:nth-child(2){
        margin-top: 4px;
        text-indent: 2em;
        text-align: justify;
        font-size: 1rem;
        line-height: 34px;
    }
    .company-bot-mes>.company-word{
        width:73%;
        margin-top: 12px;
        padding-bottom: 5rem;
    }
    .click-link{
        bottom:1rem;
        left:0;
        right:0;
        margin:auto;
        width:13rem;
        height:2.6rem;
        padding-bottom: 3rem;
    }
    .vr-btn>span.vr{
        font-size: 1.4rem;
        line-height:3rem;
    }
    .vr-go{
        width:2.4rem;
        height:2.4rem;
        margin-right: 4px;
        font-size: 1.2rem;
        color:#f86c21;
        text-align: center;
        line-height: 2.8rem;
    }
    .navigation{
        display: none;
    }
    .top-mes{
        padding-top: 14px;
    }
    .company-bot-mes>img{
        width:18%;
        margin-top: 3rem;
        margin-left:1.6rem;
        margin-bottom: 0;
    }
    .vehicles-bot-mes>span.vehicle-title{
        margin-top: 5px;
        padding-bottom: 5px;
        font-size: 1.2rem;
    }
    .mobile-navigation{
        display: block;
        text-align: center;
    }
    .vehicle-leftB-mes>.vehicle-one{
        left:5%;
    }
    .vehicle-leftB-mes>.vehicle-two{
        left:55%;
    }
    .vehicle-leftB-mes>.vehicle-three{
        top:55%;
        left:30%;
    }
    .maintenance-bot-main-mes>ul>li{
        width:20%;
        margin-right: 0;
    }
    .er-code>img{
        width:5.4rem;
        margin-top: 0.6rem;
        margin-left: 0.4rem;
        float:left;
    }
    .vehicle-left-mes>span>i,.vehicle-right-mes>span>i{
        margin-top: 0;
    }
    .company-bot-mes>.company-word>span{
        font-size:1rem;
        line-height:1.5rem;
    }
    .line-word{
        display:none;
    }
    .mobile-line-word{
        display: block;
    }
    .contact-other>span.kbs-center{
        font-size: 1.1rem;
    }
    .contact-other>span.kbs-english{
        font-size:0.8rem;
        padding-bottom: 0.2rem;
    }
    .contact-other>div{
        font-size:0.9rem;
    }
    .contact-other>div.kbs-address{
        padding-bottom: 0.5rem;
    }
    .left-btn>img,.right-btn>img{
        width:25px;
    }
    .vehicles-bot-mes>ul.range-img>li>span{
        font-size: 0.9rem;
    }
}
@media screen and (max-width:500px) {
    .lb1{
        background-image: url("../img/lb1.jpg");
    }
    .lb2{
        background-image: url("../img/lb2.jpg");
    }
    .lb3{
        background-image: url("../img/lb3.jpg");
    }
    #container,.swiper-container{
        width:100%;
    }
    #company-p, #maintenance, #vehicle-i, #emergency-a{
        height:41.7rem;
    }
    .click-link{
        position: static;
    }
    .maintenance-word-mes{
        margin-top:2rem;
        height:auto;
    }
    .mobile-maintenance-bot-main-mes,.maintenance-bot-main-mes,.left-btn,.right-btn{
        display:none;
    }
    .min-maintenance-bot-main-mes{
        display: block;
    }
    .min-maintenance-word-mes{
        width:100%;
        padding:1.4rem 1rem 0 1rem;
    }
    img.min-img{
        width:100%;
    }
    .swiper-pagination-bullet{
        background: #fff!important;
    }
    .min-maintenance-word-mes>span{
        display: block;
        font-size: 0.9rem;
        line-height: 1.8rem;
        color:#fff;
    }
    .min-maintenance-word-mes>span:first-child{
        font-size: 1.1rem;
    }
    .contact-bot-mes>.contact-map,.contact-bot-mes>.contact-other{
        width:100%;
        height:84%;
    }
    .contact-bot-mes{
        height:18rem;
    }
    .contact-bot-mes>.contact-other{
        padding:0;
    }
    .contact-bot-mes:after,.contact-bot-mes:after{
        content: '';
        display: block;
        clear: both;
    }
    .er-code-mes{
        width:76%;
        height:100%;
        float:left;
    }
    .contact-other>.er-code{
        height:8rem;
        margin-top: 0.7rem;
    }
    .er-code-mes>span:nth-child(1){
        margin-top: 16px;
    }
    .er-code-mes>span:nth-child(3){
        margin-top: 5px;
    }
    .er-code-mes>span:nth-child(3),.er-code-mes>span:nth-child(4){
        color:#f86c21;
        font-size: 20px;
    }
    ul.range-img{
        padding:0 8px;
    }
    ul.range-img>li{
        margin-bottom:10px;
        margin-right:0;
        width:100%;
    }
    ul.range-img>li>img{
        height:12rem;
    }
    .emergency-a-bot-mes>ul{
        display: block;
        padding:0;
    }
    .emergency-a-bot-mes>ul:after{
        content: '';
        display: block;
        clear: both;
    }
    .emergency-a-bot-mes>ul>li{
        float: left;
        width:33.3333%;
        text-align: center;
        margin-right:0;
    }
    .emergency-a-bot-mes>span,.vehicles-bot-mes>span{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .emergency-a-bot-mes>i{
        margin-top: 0;
        font-size: 0.9rem;
    }
    .emergency-a-bot-mes>ul>li>img{
        display: inline;
        width:60px;
        margin-top:20px;
    }
    .emergency-a-bot-mes>ul>li>span{
        font-size: 17px;
        margin-top:4px;
    }
    .emergency-a-btn{
        height:76px;
        padding-top: 1.4rem;
    }
    .emergency-a-btn>img{
        width:300px;
    }
    .emergency-a-btn>div>.mobile-none{
        display: none;
    }
    .emergency-a-btn>span.mobile-show{
        display:block;
        font-size: 16px;
        color:#fff;
        margin-top: -35px;
    }
    .vehicle-leftB-mes>.vehicle-one>span, .vehicle-leftB-mes>.vehicle-three>span, .vehicle-leftB-mes>.vehicle-two>span{
        font-size: 1.3rem;
        line-height: 99px;
    }
    .vehicle-leftB-mes>.vehicle-two>span{
        font-size: 1.4rem;
        line-height: 116px;
    }
    .vehicles-bot-mes>ul.range-img>li>img{
        width:100%;
    }
    .vehicle-bot-mes,.vehicle-left-mes,.vehicle-bot-mes,.vehicle-right-mes{
        width:100%;
    }
    .vehicle-left-mes>i,.vehicle-right-mes>i{
        display: none;
    }
    .vehicle-leftB-mes{
        height:15rem;
    }
    .vehicle-leftB-mes>.vehicle-one,.vehicle-leftB-mes>.vehicle-three{
        width:40%;
        height:40%;
    }
    .vehicle-leftB-mes>.vehicle-one>img,.vehicle-leftB-mes>.vehicle-three>img{
        width:100%;
    }
    .vehicle-leftB-mes>.vehicle-two{
        width:43%;
        height:45%;
    }
    .vehicle-leftB-mes>.vehicle-two>img{
        width:100%;
    }
    .vehicle-rightB-mes>span:nth-child(1){
        font-size: 1.4rem;
    }
    .vehicle-rightB-mes>span:nth-child(2){
        margin-top: 0.5rem;
        text-indent: 2em;
        text-align: justify;
        font-size: 1rem;
        line-height: 27px;
    }
    .vehicle-right-mes{
        height:65%;
    }
    .company-bot-mes>.company-word{
        width:100%;
        padding-bottom: 1rem;
    }
    .company-bot-mes>img{
        position: relative;
        width:34%;
        left:50%;
        margin-left: -58.5px;
        margin-top: 0;
    }
    .vehicles-bot-mes>span.vehicle-title{
        margin-top: 6px;
        padding-bottom: 5px;
        font-size: 1.3rem;
    }
    .vehicle-leftB-mes>.vehicle-one{
        left:5%;
    }
    .vehicle-leftB-mes>.vehicle-two{
        left:52%;
    }
    .vehicle-leftB-mes>.vehicle-three{
        top:49%;
        left:29%;
    }
    .er-code>img{
        width:7rem;
        margin-top: 0.6rem;
        margin-left: 0.4rem;
    }
    .company-bot-mes>.company-word>span{
        font-size:1rem;
    }
    .line-word{
        display:none;
    }
    .mobile-line-word{
        display: block;
    }
    .contact-other>span.kbs-center{
        font-size: 1.2rem;
    }
    .contact-other>span.kbs-english{
        font-size:0.9rem;
        padding-bottom: 0.3rem;
    }
    .mobile-navigation>img{
        margin-left: 0;
    }
    .navigation-menu{
        margin-right:0;
    }
    .mobile-navigation>span{
        float: left;
    }
    .er-code-mes{
         width:60%;
     }
    .er-code-mes>span:nth-child(1){
        margin-top: 16px;
    }
    .er-code-mes>span:nth-child(3){
        margin-top: 5px;
    }
    .er-code-mes>span:nth-child(3),.er-code-mes>span:nth-child(4){
        font-size: 1rem;
    }
    .lb1>span{
        color:#f36f21;
        font-size: 6px;
        position: absolute;
        top:1.2rem;
        right:0.4rem;
    }
}